/* ### PROJECTS PAGE ### */

.projects a {
  text-decoration: underline;
  text-align: center;
  font-size: 1rem;
}

.links li {
  margin-bottom: 12px;
}

.projects {
  padding: 1%;
  margin: 1%;
}

.description-text {
  width: 80%;
}
