<div class="centered">
  <div class="custom-wrapper centered bordered">
    <h1>Interessiert, was ich bereits gemacht habe?</h1>

    <br />

    <div class="bordered">
      <div class="projects">
        <a
          class="centered"
          href="https://github.com/LarsOFinke/ToDoList.git"
          target="_blank"
          title="GitHub - Source Code"
          >To-Do-Listen</a
        >

        <video class="float-right" controls>
          <source src="../../../assets/videos/ToDoLists.mp4" type="video/mp4" />
          Ihr Browser unterstützt kein .mp4!
        </video>

        <p>
          Mein erstes richtiges Projekt stellt ein klassisches
          To-Do-Listen-Programm dar. Erstellt wurde es mit Python und dem
          PyQt5-GUI mit einer SQLite3-Datenbankanbindung.
        </p>
      </div>

      <br class="clearfix" />
      <hr />

      <div class="projects">
        <a
          class="centered"
          href="https://quizwebsite.portfolio-finke.de/"
          target="_blank"
          title="Quiz Website"
          >Quiz Website</a
        >

        <p>
          Mein nächstes Projekt, was ich Ihnen vorstellen möchte, ist eine
          Quiz-Website, welche ich ebenfalls selber erstellt habe und hoste.
          Dies ist möglich, da ich einen "reverse Proxy" (NGINX-Server)
          verwende, um mehrere Webseiten auf einem Gerät zu hosten.
        </p>
      </div>

      <br class="clearfix" />
      <hr />

      <div class="projects">
        <a
          class="centered"
          href="https://egc.portfolio-finke.de/"
          target="_blank"
          title="GitHub - Source Code"
          >Browser Game - EGC</a
        >

        <p>
          Da ich ein leidenschaftlicher Gamer bin ist es nur naheliegend, dass
          ich mein Wissen und meine Fähigkeiten durch die Entwicklung eines
          eigenen Spieles weiter ausbaue. Aktuell ist es ein Projekt bestehend
          aus Python, HTML, CSS und JavaScript, wobei Flask als micro-Framework
          dient und den Websocket + API-Routen zur Verfügung stellt. Dieses
          Projekt läuft ebenfalls über meinen eigenen Server, wobei mich
          insbesondere die vertiefte Arbeit mit Javascript und einem Websocket
          reizt immer tiefer zu graben. Es befindet sich zwar noch so ziemlich
          am Start, jedoch ist das Wissen, welches ich bis jetzt durch dieses
          Projekt erworben habe, definitiv seine Zeit und Mühen wert gewesen, da
          es mir insbesondere in Bezug auf APIs einiges beibringen und viele
          Unklarheiten klären konnte.
        </p>
      </div>

      <br class="clearfix" />
      <hr />

      <div>
        <h2><u>Habe ich Sie überzeugt?</u></h2>
        <h3>
          Sie können mich <a href="/contact">hier</a> direkt kontaktieren!
        </h3>
        <h3>
          Noch nicht? Schauen Sie sich auch meine
          <a href="/qualifications">Qualifikationen</a> an!
        </h3>
      </div>
    </div>
  </div>
</div>
