<nav>
  <div class="row col-100">
    <div class="row">
      <div class="desktop-nav">
        <a href="/">
          <img
            id="home-link"
            class="bordered"
            src="../../../../assets/images/logo.png"
            alt="Bild vom Logo der Webseite"
          />
        </a>

        <!-- <h1>{% block desktop_nav_header %}{% endblock %}</h1> -->

        <ul>
          <li class="bordered"><a href="/">Über mich</a></li>
          <li class="bordered"><a href="/projects">Projekte</a></li>
          <li class="bordered">
            <a href="/qualifications">Qualifikationen</a>
          </li>
          <li class="bordered"><a href="/contact">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
