.input-box {
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
  background-color: var(--dark-navy-blue);
  color: var(--light-grey);
}

textarea {
  width: 100%;
  height: 5rem;
  background-color: var(--dark-navy-blue);
}
::placeholder {
  color: var(--grey);
}

@media (min-width: 768) {
  textarea {
    width: 50%;
    height: 8rem;
  }
}

.tos {
  font-size: 1rem;
}
input[type="checkbox"] {
  padding: 0;
  margin: auto;
  height: fit-content;
}
