<div class="centered">
  <div class="custom-wrapper centered bordered vh-85">
    <h1>Interessiert, was ich bereits gemacht habe?</h1>

    <hr />

    <div class="bordered">
      <app-projects></app-projects>
    </div>

    <br class="clearfix" />
    <hr />

    <div>
      <h2><u>Habe ich Sie überzeugt?</u></h2>
      <h3>Sie können mich <a href="/contact">hier</a> direkt kontaktieren!</h3>
      <h3>
        Noch nicht? Schauen Sie sich auch meine
        <a href="/qualifications">Qualifikationen</a> an!
      </h3>
    </div>
  </div>
</div>
