a {
  text-decoration: underline;
  text-align: center;
  font-size: 1.15rem;
}

#projects-page {
  height: 87vh;
}

@media (min-width: 1023px) {
  #projects-page {
    height: 85vh;
  }

  .custom-wrapper {
    width: 40%;
  }
}

@media (min-width: 1439px) {
  .custom-wrapper {
    width: 30%;
  }
}
