a {
  text-decoration: underline;
  text-align: center;
  font-size: 1.15rem;
}

@media (min-width: 1023px) {
  .custom-wrapper {
    width: 40%;
  }
}

@media (min-width: 1439px) {
  .custom-wrapper {
    width: 30%;
  }
}
