<div class="centered vh-90">
  <div class="custom-wrapper centered bordered">
    <h1>Interessiert, was ich bereits gemacht habe?</h1>
    <br>

    <div class="bordered">
      <app-projects></app-projects>
    </div>

    <br class="clearfix" />
    <br>

    <div>
      <h3><u>Habe ich Sie überzeugt?</u></h3>
      <h4>Sie können mich <a href="/contact">hier</a> direkt kontaktieren!</h4>
      <h4>
        Noch nicht? Schauen Sie sich auch meine
        <a href="/qualifications">Qualifikationen</a> an!
      </h4>
    </div>
  </div>
</div>
