<nav class="mobile-nav">
  <div>
    <div class="row col-100">
      <a href="/">
        <img
          class="bordered"
          src="../../../../assets/images/logo.png"
          alt="Bild vom Logo der Webseite"
        />
      </a>

      <!-- <h1>{% block mobile_nav_header %}{% endblock %}</h1> -->

      <div class="mobile-nav-dropdown">
        <div class="mobile-nav-button bordered">&equiv;</div>
        <div class="mobile-nav-content clearfix">
          <ul>
            <li class="bordered"><a href="/">Über mich</a></li>
            <li class="bordered"><a href="/projects">Projekte</a></li>
            <li class="bordered">
              <a href="/qualifications">Qualifikationen</a>
            </li>
            <li class="bordered"><a href="/contact">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
