#contact-form {
  height: 86vh;
}

.bordered {
  padding: 1rem;
}

@media (min-width: 1023px) {
  #contact-form {
    height: 77vh;
  }

  .custom-wrapper {
    width: 40%;
  }
}

@media (min-width: 1439px) {
  .custom-wrapper {
    width: 25% !important;
  }
}
