/* ### CONTACT PAGE ### */
.bordered {
  padding: 1rem;
}

@media (min-width: 1023px) {
  .custom-wrapper {
    width: 40%;
  }
}

@media (min-width: 1439px) {
  .custom-wrapper {
    width: 25% !important;
  }
}
