<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/base.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/mediaqueries.css') }}">
</head>
<body class="centered">

    <nav>
        <div class="desktop-nav">
            <div class="row">
                <div class="col-100">
                    <a href="/">
                        <img class="bordered" src="{{ url_for('static', filename='images/logo.png') }}" alt="Das ist ein Bild vom Logo der Webseite">
                    </a>
                    
                    <ul>
                        <li class="bordered"><a href="/">Über mich</a></li>
                        <li class="bordered"><a href="/projects">Projekte</a></li>
                        <li class="bordered"><a href="/certificates">Zertifikate</a></li>
                        <li class="bordered"><a href="/contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>

        
        <div class="mobile-nav">
            <div class="row col-100">

                <a href="/">
                    <img class="bordered" src="{{ url_for('static', filename='images/logo.png') }}" alt="Das ist ein Bild vom Logo der Webseite">
                </a>

                <h1>{% block nav_header %}{% endblock %}</h1>
                    
                <div class="mobile-nav-dropdown">
                    <div class="mobile-nav-button bordered">&equiv;</div>
                    <div class="mobile-nav-content clearfix">
                        <ul>
                            <li class="bordered"><a href="/">Über mich</a></li>
                            <li class="bordered"><a href="/projects">Projekte</a></li>
                            <li class="bordered"><a href="/certificates">Zertifikate</a></li>
                            <li class="bordered"><a href="/contact">Kontakt</a></li>
                        </ul>
                    </div>
                </div>        

            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock %}


    <footer>
        © 2025 Lars-Oliver Finke. Alle Rechte vorbehalten.
    </footer>


    {% block scripts %}
    {% endblock %}
</body>
</html>