{% extends "base.html" %}

{% block nav_header %}
Zertifikate
{% endblock %}


{% block content %}
<div class="container">
    
    <h1>Meine absolvierten Kurse!</h1>
    
    <div class="bordered">

        <h2>Udemy</h2>
        <ul>
            <li><a href="https://www.udemy.com/certificate/UC-62816cd1-e1e3-4a44-a153-e4c26f8ad710/">Python Bootcamp</a></li>
            <li><a href="https://www.udemy.com/certificate/UC-7834757f-b910-4e68-ab94-ddc55d4ff637/">Linux LPIC-1 Bootcamp</a></li>
            <li><a href="https://www.udemy.com/certificate/UC-8bc4376e-a312-44aa-b709-67818a316000/">NGINX Bootcamp</a></li>
        </ul>

        <hr>

        <h2>LinkedIn-Learning</h2>
        <a class="centered" href="https://www.linkedin.com/in/lars-oliver-finke-35a65a347/" target="_blank">
            <img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn Logo">
        </a>
        <ul>
            <li>Einführung in grundlegende Fähigkeiten</li>
            <li>Word Grundkurs (Microsoft 365)</li>
            <li>PowerPoint 2019 lernen</li>
            <li>Tabellendesign für relationale Datenbanken</li>
            <li>SQL Lernen</li>
        </ul>

        <hr>

        <h2>Weitere</h2>
        <ul>
            <li>Blender Kickstarter by Bluewave-Tech</li>
        </ul>
        
    </div>
</div>
{% endblock %}