<div class="centered vh-90">
  <div class="custom-wrapper centere">
    <h2>Impressum der Webseite</h2>

    <div class="centered bordered">
      <section>
        <h3>Kontakt</h3>
        <p [innerHTML]="contactInformation"></p>
      </section>

      <section>
        <h3>Haftungsausschluss</h3>
        <p>
          Alle Inhalte dieser Webseite wurden mit größter Sorgfalt erstellt. Für
          die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann
          jedoch keine Gewähr übernommen werden.
        </p>
      </section>

      <section>
        <h3>Urheberrecht</h3>
        <p>
          Die auf dieser Webseite veröffentlichten Inhalte, Werke und Beiträge
          sind urheberrechtlich geschützt. Jede Verwertung, insbesondere die
          Vervielfältigung, Verarbeitung, Verbreitung oder Speicherung außerhalb
          der Grenzen des Urheberrechts, bedarf der vorherigen schriftlichen
          Zustimmung des/der jeweiligen Rechteinhaber(s).
        </p>
      </section>
    </div>
  </div>
</div>
