/* ### NAVBAR DESKTOP ### */
.desktop-nav {
  width: 100%;
  position: absolute;
  top: 0;
}

.desktop-nav {
  display: none;
}

/* VIEWPORT SWITCH */

@media (min-width: 767px) {
  .desktop-nav {
    display: inline-block;
  }
}

.desktop-nav h2 {
  float: left;
  margin: 0.5rem 0 0 2rem;
  padding: 0.25rem;
  text-decoration: underline;
}
