<nav>
    <div class="desktop-nav">
        <div class="row">
            <div class="col-100">
                <a href="/">
                    <img class="bordered" src="" alt="Bild vom Logo der Webseite">  <!-- {{ url_for('static', filename='images/logo.png') }} -->
                </a>
                
                <!-- <h1>{% block desktop_nav_header %}{% endblock %}</h1> -->

                <ul>
                    <li class="bordered"><a href="/">Über mich</a></li>
                    <li class="bordered"><a href="/projects">Projekte</a></li>
                    <li class="bordered"><a href="/qualifications">Qualifikationen</a></li>
                    <li class="bordered"><a href="/contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

    
    <div class="mobile-nav">
        <div class="row col-100">

            <a href="/">
                <img class="bordered" src="" alt="Bild vom Logo der Webseite"> <!-- {{ url_for('static', filename='images/logo.png') }} -->
            </a>

            <!-- <h1>{% block mobile_nav_header %}{% endblock %}</h1> -->
                
            <div class="mobile-nav-dropdown">
                <div class="mobile-nav-button bordered">&equiv;</div>
                <div class="mobile-nav-content clearfix">
                    <ul>
                        <li class="bordered"><a href="/">Über mich</a></li>
                        <li class="bordered"><a href="/projects">Projekte</a></li>
                        <li class="bordered"><a href="/qualifications">Qualifikationen</a></li>
                        <li class="bordered"><a href="/contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>        

        </div>
    </div>
</nav>