<div class="centered">
  <div class="custom-wrapper centered">
    <h1>Meine absolvierten Kurse!</h1>
    <br />

    <div class="qualifications bordered">
      <div class="centered">
        <h2><u>Udemy</u></h2>

        <app-udemy-qualifications></app-udemy-qualifications>
      </div>

      <hr />

      <div class="centered">
        <h2><u>LinkedIn-Learning</u></h2>

        <app-linkedin-qualifications></app-linkedin-qualifications>
      </div>

      <hr />

      <div class="centered">
        <h2><u>Weitere</u></h2>

        <ul class="qualification-list">
          <li>
            Blender Kickstarter by
            <a href="https://bluewave-tech.de/">Bluewave-Tech</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
