<div class="centered">
    <div class="custom-wrapper centered bordered">
      <h1>Meine absolvierten Kurse!</h1>
  
      <div class="centered bordered">
        <h2><u>Udemy</u></h2>
  
        <app-udemy-qualifications></app-udemy-qualifications>
  
        <hr />
  
        <h2><u>LinkedIn-Learning</u></h2>
  
        <app-linkedin-qualifications></app-linkedin-qualifications>
  
        <hr />
  
        <h2><u>Weitere</u></h2>
        <div class="centered">
          <ul>
            <li class="qualification-list">
              Blender Kickstarter by
              <a href="https://bluewave-tech.de/">Bluewave-Tech</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  