/* 
=== WICHTIGE BREAKPOINTS ===
768     Pixel   (iPad Hochformat)
1024    Pixel   (iPad Querformat)
1200    Pixel   (Laptop)
1600   Pixel   (Größere Endgeräte)
*/

@media (min-width: 370px) {
    .col-50 input {
        width: 20ch;
    }
}

@media (min-width: 500px) {
    .wrapper {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 80%;
    }

    video {
        max-width: 50%;
    }

    .col-50 input {
        font-size: 1.2rem;
        width: fit-content;
    }

    #contact-form {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 60%;
        padding: 2%;
    }

    .col-50 input {
        font-size: 1rem;
    }

    #contact-form {
        width: 50%;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 1.1rem;
    }

    .wrapper {
        width: 50%;
    }

    #contact-form {
        width: 40%;
    }

}

@media (min-width: 1600px) {
    .wrapper {
        width: 40%;
    }

    #contact-form {
        width: 30%;
    }

}