.udemy li {
    width: fit-content;
    color: var(--gold);
    border: 2px solid var(--grey);
    border-radius: 8px;
    padding: .25rem;
    margin: 2% 0;
}

.collapsible-container input {
    display: none;
}
.collapsible-container label {
    position: relative;
    display: block;
    z-index: 1;
}
.collapsible-container label:after {
    content: "";
    transform: all 0.3s ease;
}
.collapsible-container input:checked + label:after {
    transform: rotate(90deg);
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    position: relative;
}
.collapsible-container input:checked ~ .collapsible {
    max-height: 300px;
    opacity: 1;
    top: 0;
}
.collapsible img {
    width: 100%;
    margin: 1% 0;
}