/* ### VARIABLES ### */
:root {
    /* dark */
    --dark-blue: #161638;
    --navy-blue: #18206F;
    --light-navy-blue: #1d2785;
    --matt-blue: #1B435E;
    --light-blue: #3d82a7;
    --light-purp: #563457;
    --dark-purp: #302442;
    --grey: #CBCBD4;
    --light-grey: #e8e8f0;
    --gold: #D4AF37;

    /* light */
    --yellow: #FFED00;
    --yellow-orange: #F8B405;
    --orange: #F17A0A;
    --light-red: #EA400F;
    --dark-red: #E30613;
}


/* ### DEFAULTS ### */
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    width: 100%;
    background-color: var(--light-navy-blue);
    color: var(--grey);
    font-family: 'Franklin Gothic Medium', 'Roboto', Arial, sans-serif;
}
h1, h2, h3, h4 {
    text-align: center;
}


/* ### GENERAL ### */

/* LINK STYLE */
a {
    text-decoration: none;
    font-size: 1.3rem;
}
a:link {
    color: var(--gold);
}
a:hover {
    color: var(--light-red);
}
a:active {
    color: var(--dark-red);
}
a:visited {
    color: var(--gold);
}

/* CLASSES */
.clearfix {
    content: "";
    display: block;
    clear: both;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordered {
    border: 2px solid var(--grey);
    border-radius: 8px;
    padding: .25rem;
}
.main-container {
    height: auto;
    width: 100%;
}
.container {
    width: 100%;
    max-height: fit-content;
    padding: 3%;
    margin-bottom: 5vh;
}
.btn{
    background-color: var(--navy-blue);
    color: var(--grey);

    font-size: 1.1rem;
    font-weight: bold;

    margin: 2%;

    border: 2px solid var(--grey);
    border-radius: 8px;
}
.btn:hover{
    background-color: var(--light-blue);
    color: white;
}
.btn-box {
    display: flex;
    justify-content: space-evenly;
    margin: .5rem 0 .5rem 0;
}
.float-left { float: left; }
.float-right { float: right; }



/* ### GRID-SYSTEM ### */

.row { height: fit-content; }
.row::after {
    content: "";
    clear:both;
    display: block;
}

.col-100 { width: 100%; }
.col-66 { width: 66.666%; }
.col-50 { width: 50%; }
.col-33 { width: 33.333%; }

.main-container [class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}



