<div class="centered vh-90">
  <div class="custom-wrapper centered bordered" id="contact-form">
    <h2>
      Kontaktieren Sie mich als eine Investition für die Zukunft Ihres
      Unternehmens!
    </h2>
    <!-- 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-success">
            {% for msg in messages %}
                <p align="center">{{msg}}</p>
            {% endfor %}
            <pre align="center">&#x1F604</p>
        </div>
        {% endif %}
    {% endwith %} -->

    <app-contact-form></app-contact-form>
  </div>
</div>
