/* ### CONTACT PAGE ### */

.row {
  display: flex;
}

.col-50 > input {
  margin-right: 2rem;
}

.col-50 input {
  margin: 0 0 0 4px;
  width: 100%;
}
.col-50 label {
  font-weight: bold;
  font-size: 1.2rem;

  display: flex;
  text-align: right;
  justify-content: flex-end;
}

@media (min-width: 1023px) {
  .custom-wrapper {
    width: 40%;
  }
}

@media (min-width: 1439px) {
  .custom-wrapper {
    width: 25% !important;
  }
}
