<ul>
  @for (qualification of qualifications; track $index) {
  <li>
    <div class="collapsible-container">
      <input
        type="checkbox"
        [checked]="qualification.category === 'python' ? true : false"
        id="{{ qualification.category }}-head"
      />
      <label for="{{ qualification.category }}-head">{{
        qualification.name
      }}</label>
      <div class="collapsible">
        <a href="{{ qualification.link }}" target="_blank">
          <img src="{{ qualification.img }}" />
        </a>
      </div>
    </div>
  </li>
  } @empty {
  <li>There are no qualifications yet for this subject.</li>
  }
</ul>
