<div class="centered">
  <div class="custom-wrapper centered">
    <h2>Wer bin ich und was kann ich Ihnen bieten?</h2>

    <div class="bordered">
      <br />

      <div class="centered">
        <img class="me" [src]="'assets/images/' + profilePicture" />
      </div>

      <p align="center">{{ teaserText }}</p>

      <br />

      <section [innerHTML]="aboutMeText"></section>
    </div>

    <br />

    <div>
      <h3><u>Habe ich Ihr Interesse geweckt?</u></h3>
      <h4>Schauen Sie sich gerne <a href="/projects">meine Projekte</a> an!</h4>
    </div>
  </div>
</div>
