<div class="projects centered">
  <h2>
    <u>{{ projects[currentProjectIndex].title }}</u>
  </h2>

  <ul class="links">
    <li>
      <a
        [href]="projects[currentProjectIndex].websiteLink"
        target="_blank"
        [title]="projects[currentProjectIndex].websiteTitle"
        >Link zur Webseite</a
      >
    </li>

    <li>
      <a
        [href]="projects[currentProjectIndex].gitHubLink"
        target="_blank"
        [title]="projects[currentProjectIndex].gitHubTitle"
        >Link zum GitHub-Repository</a
      >
    </li>
  </ul>

  <div class="description-text">
    <p>{{ projects[currentProjectIndex].descriptionText }}</p>
  </div>
</div>

<div class="btn-box">
  <button class="btn" (click)="decrease()">Zurück</button>
  <button class="btn" (click)="increase()">Nächstes</button>
</div>

<br class="clearfix" />
<hr />
