<div class="projects centered">
  <h2>
    <u>{{ projects[currentProjectIndex].title }}</u>
  </h2>

  <ul class="links centered">
    <li>
      <a
        [href]="projects[currentProjectIndex].gitHubLink"
        target="_blank"
        [title]="projects[currentProjectIndex].gitHubTitle"
        >Link zum Repository</a
      >
    </li>
    <li>
      <a
        [href]="projects[currentProjectIndex].websiteLink"
        target="_blank"
        [title]="projects[currentProjectIndex].websiteTitle"
        >Link zur Webseite</a
      >
    </li>
  </ul>

  <div class="description-text">
    <p>{{ projects[currentProjectIndex].descriptionText }}</p>
  </div>
</div>

<div>
  <button
    class="btn float-left"
    [class.inactive]="currentProjectIndex === 0 ? true : false"
    (click)="decrease()"
  >
    Zurück
  </button>
  <button
    class="btn float-right"
    [class.inactive]="currentProjectIndex + 1 >= projects.length ? true : false"
    (click)="increase()"
  >
    Nächstes
  </button>
</div>
