ul {
  margin: 0;
}

p {
  font-size: 1rem;
}

.projects a {
  text-decoration: underline;
  text-align: center;
  font-size: 1rem;
}

.links li {
  margin-bottom: 12px;
}

.projects {
  padding: 1%;
  margin: 1%;
}

.description-text {
  width: 90%;
}

@media (min-width: 1023px) {
  p {
    font-size: 1.15rem;
  }

  .projects a {
    font-size: 1.1rem;
  }
}
