ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

.inactive {
  display: none;
}

a {
  text-decoration: underline;
  text-align: center;
  font-size: 1rem;
}

.links li {
  margin-bottom: 12px;
}

.projects {
  padding: 1%;
  margin: 1%;
}

.description-text {
  width: 90%;
}

.btn {
  background-color: var(--gold);
  color: var(--light-navy-blue);

  font-size: 1.25rem;
  font-weight: bold;
}
.btn:hover {
  background-color: var(--navy-blue);
  color: var(--gold);
}

@media (min-width: 1023px) {
  p {
    font-size: 1.15rem;
  }

  .projects a {
    font-size: 1.1rem;
  }
}
