@if (success) {
<hr />
<div class="flash-success">
  <p align="center">{{ msg }} 😄</p>
</div>
<hr />
}
@if (error) {
  <hr />
  <div class="flash-success">
    <p align="center">{{ msg }} 😔</p>
  </div>
  <hr />
  }

<form (ngSubmit)="submitContactData()">
  <div class="btn-box input-box">
    <div class="centered">
      <label for="Fr">Frau</label>
      <input
        type="radio"
        name="gender"
        id="Fr"
        value="Fr"
        required
        [(ngModel)]="gender"
      />
    </div>

    <div class="centered">
      <label for="Hr">Herr</label>
      <input
        type="radio"
        name="gender"
        id="Hr"
        value="Hr"
        required
        [(ngModel)]="gender"
      />
    </div>

    <div class="centered">
      <label for="Nb">Divers</label>
      <input
        type="radio"
        name="gender"
        id="Nb"
        value="Nb"
        required
        [(ngModel)]="gender"
      />
    </div>
  </div>

  <br />

  <div class="row input-box">
    <div class="col-40">
      <label for="firstName">Vorname:</label>
    </div>
    <div class="col-60">
      <input
        type="text"
        id="firstName"
        name="firstName"
        placeholder="Ihr Vorname"
        required
        [(ngModel)]="firstName"
      />
    </div>
  </div>

  <div class="row input-box">
    <div class="col-40">
      <label for="lastName">Nachname:</label>
    </div>
    <div class="col-60">
      <input
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Ihr Nachname"
        required
        [(ngModel)]="lastName"
      />
    </div>
  </div>

  <div class="row input-box">
    <div class="col-40">
      <label for="phone">Telefon:</label>
    </div>
    <div class="col-60">
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="Optional"
        [(ngModel)]="phone"
      />
    </div>
  </div>

  <div class="row input-box">
    <div class="col-40">
      <label for="email">E-Mail:</label>
    </div>
    <div class="col-60">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Ihre E-Mail-Adresse"
        required
        [(ngModel)]="email"
      />
    </div>
  </div>

  <div class="row input-box">
    <div class="col-40">
      <label for="companyName">Unternehmen:</label>
    </div>
    <div class="col-60">
      <input
        type="text"
        id="companyName"
        name="companyName"
        placeholder="Ihr Unternehmen"
        required
        [(ngModel)]="companyName"
      />
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-100">
      <textarea
        name="message"
        id="message"
        placeholder="Hier können Sie mir noch eine Nachricht hinterlassen! (Optional)"
        [(ngModel)]="message"
      ></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-100 input-box">
      <label class="tos col-80" for="tos"
        ><u
          >Hiermit bestätige ich, dass meine Daten zur Kontaktaufnahme
          gespeichert werden dürfen.</u
        ></label
      ><input
        type="checkbox"
        id="tos"
        name="tos"
        class="col-20"
        required
        [(ngModel)]="tosAccepted"
      />
    </div>
  </div>

  <div class="btn-box">
    <button type="reset" class="btn">Zurücksetzen</button>
    <button type="submit" class="btn">Absenden!</button>
  </div>
</form>
