<div class="centered">
  <div class="custom-wrapper centered bordered">
    <h1>Meine absolvierten Kurse!</h1>

    <div class="centered bordered">
      <h2><u>Udemy</u></h2>

      <app-udemy-qualifications></app-udemy-qualifications>

      <hr />

      <h2><u>LinkedIn-Learning</u></h2>
      <div class="centered col-20">
        <a
          class="centered"
          href="https://www.linkedin.com/in/lars-oliver-finke-35a65a347/"
          target="_blank"
        >
          <img
            id="linkedin"
            src="../../../assets/images/linkedin.png"
            alt="LinkedIn Logo"
          />
        </a>
      </div>

      <app-linkedin-qualifications></app-linkedin-qualifications>

      <hr />

      <h2><u>Weitere</u></h2>
      <ul>
        <li>
          Blender Kickstarter by
          <a href="https://bluewave-tech.de/">Bluewave-Tech</a>
        </li>
      </ul>
    </div>
  </div>
</div>
