.mobile-nav {
  display: block;
}

/* VIEWPORT SWITCH */

@media (min-width: 767px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav h2 {
  float: left;
  margin: 0.5rem 0 0 2rem;
  padding: 0.25rem;
  text-decoration: underline;
}
